.button_block {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.button {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    user-select: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    padding: 14px 30px;
    background-color: #D67E34;
    text-decoration: none;
    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #894B17;
}