.header {
    height: 33vh;
    background-image: url("../../../../static/images/book_bg_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.first_line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.nav_item a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;
    transition: color 0.2s linear;
}

.nav_item a:hover {
    color: #D81D1D;
}

.second_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: white;
    font-family: 'Tinos', serif;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    margin-left: 400px;
}

.buttons {
    display: flex;
    align-items: center;
    margin-right: 400px;
}

