.modal-content .text{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.modal-content .text span{
    color: #FF7400;
}

.modal-content form{
    margin-top: -20px;
}

.modal-content form .data{
    height: 45px;
    width: 100%;
    margin: 60px 0;
}

.modal-content form .data input{
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid silver;
    outline: none;
}

.modal-content form .data input:focus{
    border-color: #3498db;
    border-bottom-width: 2px;
}

.modal-content form .data label{
    font-size: 18px;
}

.bad-credentials {
    font-size: 18px;
    color: #ff630b;
}

.bad-credentials.hidden {
    opacity: 0;
}

.modal-content form .data span{
    font-size: 15px;
    color: silver;
}

.modal-content form .data .card-code{
    font-size: 15px;
    color: silver;
}

.modal-select {
    margin-bottom: -40px;
}

.modal-select label {
    font-size: 18px;
}

.modal-content form .btn{
    margin: 30px 0;
    height: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.modal-content form .forgot-pass{
    margin-top: -8px;
}

.modal-content form .forgot-pass a{
    color: #3498db;
    text-decoration: none;
}

.modal-content form .forgot-pass a:hover{
    text-decoration: underline;
}

.modal-content form .btn .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #FF8C05, #FF4208, #FF8C05, #FF4208);
    z-index: -1;
    transition: all 0.4s;
}

.modal-content form .btn:hover .inner{
    left: 0;
}

.modal-content form .btn button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.modal-content form .signup-link{
    text-align: center;
}

.modal-content form .signup-link a{
    color: #3498db;
    text-decoration: none;

}

.modal-content form .signup-link a:hover{
    text-decoration: underline;
}

