.dishes {
    display: flex;
    justify-content: center;
    margin-top: 138px;
    position: relative;
}

@media (max-width: 1471px) {
    .dishes {
        display: block;
        margin-top: 30px;
    }
}