.menu-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-body .container .title {
    text-align: center;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 54px;
    color: #000000;
    margin-top: 70px;
}

.menu-body .container .dishes {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.menu-body .container .dishes .menu-page-content-dish{
    margin-bottom: 60px;
    margin-left: 40px;
    box-shadow: 1px 1px 7px 1px;
}

.dishes .dish .dish-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.dishes .dish .dish-price {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.dishes .dish .dish-button {
    color: #fff;
    background-color: #FF7400;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.dishes .dish .dish-button a{
    color: white;
    text-decoration: none;
}

.dishes .dish .dish-button:hover {
    background-color: #894B17;
}