.cart_dish {
    box-shadow: 3px 3px 6px 1px;
    margin-right: 60px;
    margin-bottom: 60px;
    padding: 30px 30px;
    display: flex;
    transition: transform 0.2s linear;
    align-items: center;
}

.cart_dish:hover {
    transform: scale(1.01);
}

.image_block img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.description {
    align-items: center;
    width: 100%;
    display: flex;
    margin-left: 50px;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 26px;
}

.description_item {
    justify-self: start;
    padding-right: 20px;
    margin-left: 30px;
    border-right: 3px solid black;

}

.description_item span {
    color: #D67E34;
    font-weight: 600;
    font-size: 25px;
}

.plus_count {
    background-color: #D67E34;
    padding: 5px 13px 5px 13px;
    border-radius: 50%;
    color: white;
    font-weight: 700;
    margin-left: 30px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s linear;
}
.plus_count span {
    color: white;
}

.plus_count:hover {
    background-color: #894B17;
}

.button_block {
    margin-left: auto;
}

.first_plus {
    display: none;
}

.second_plus {
    display: block;
}

@media (max-width: 1845px) {
    .description_item {
        border-right: 0;
        padding-right: 0;
        margin-left: 0;
        padding-top: 20px;
        margin-top: 10px;
        width: 100%;
        text-align: center;
        border-top: 3px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cart_dish {
        display: flex;
        flex-direction: column;
        width:  350px;
        height: 510px;
        box-sizing: border-box;
        align-items: center;
    }

    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        height: 100%;
    }

    .plus_count {
        margin-left: 0;
    }

    .button_block {
        margin-left: 0;
    }

    .first_plus {
        display: block;
    }

    .second_plus {
        display: none;
    }
}

@media (max-width: 946px) {
    .cart_dish{
        margin-right: 0;
    }
}

@media (max-width: 534px) {
    .cart_dish {
        width: 230px;
        height: auto;
    }

    .first_plus {
        display: none;
    }

    .second_plus {
        display: block;
    }

    .button_block {
        margin-top: 30px;
    }
}
