.footer {
    height: 33vh;
    background-image: url("../../../static/images/book_bg_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 104px 165px 186px;
    box-sizing: border-box;
}

.line {
    display: flex;
    justify-content: space-between;
}

.text {
    width: 601px;
    height: 173px;
}

.text_big {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 52px;
    color: #D67E34;
}

.text_small {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}
