.table {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 50px;
    color: #ff7400;
    padding-right: 20px;
    border-right: 3px solid black;
}

.table_data {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 26px;
    margin-right: 10px;
    margin-left: 10px;
    border-right: 3px solid black;
    padding-right: 10px;
}

.table_data span {
    color: #ff7400;
}

.table_desc {
    box-shadow: 3px 3px 6px 1px;
    margin-right: 60px;
    margin-bottom: 60px;
    display: flex;
    transition: transform 0.2s linear;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 30px 30px;
}