.cart_body {
    display: flex;
    flex-direction: column;
}

.content {
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 50px;
    width: auto;
    height: auto;
    background-color: #FFFFFF;
    transition: transform 0.2s linear;
}

.content_title {
    padding-left: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding-bottom: 10px;
    color: #ff7400;

}

.content .dishes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-top: 3px solid black;
    padding-top: 30px;
    justify-content: space-around;
}

.first_line {
    justify-content: space-between;
    display: flex;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 26px;
    align-items: center;
}

.total_price{
    margin-left: 30px;
}

.cart_info {
    display: flex;
}

.total_price span {
    color: #ff7400;
    font-size: 30px;
}

.total_dishes span {
    color: #ff7400;
    font-size: 30px;
}

.first_line .menu-page-content-dish-btn {
    background-color: #ff7400;
}

.first_line .menu-page-content-dish-btn:hover {
    background-color: #894b17;
}

.cart_dish .cart_dish_price {
    justify-self: center;
    margin-left: 30px;
    border-right: 3px solid black;
}

.content .menu_page_content_dish {
    margin-bottom: 50px;
    box-shadow: 1px 1px 7px 1px;
}

.tables_block {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}

.table_title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 26px;
    padding-bottom: 10px;
    color: #ff7400;
}

.tables {
    border-top: 3px solid black;
    padding-top: 30px;
}

@media (max-width: 1845px) {
    .content .dishes {
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 1260px) {
    .first_line {
        display: flex;
        margin-bottom: 20px;
    }

    .cart_info {
        display: flex;
        flex-direction: column;
    }

    .total_price {
        margin-left: 0;
    }
}

@media (max-width: 946px) {
    .first_line {
        flex-direction: column;
        margin-left: 0;
        padding-left: 0;
        width: 100%;
    }

    .content .dishes {
        margin-left: 0;
        justify-content: center;
    }

    .button_block {
        margin-top: 30px;
    }

    .content_title {
        text-align: center;
        padding-left: 0;
    }
}

@media (max-width: 828px) {
    .content {
        margin-left: 60px;
    }
}

@media (max-width: 417px) {
    .content {
        margin-left: 10px;
        margin-right: 10px;
    }
}

