.header {
    background-image: url("../../../../static/images/bg_image.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}

.header.blocked {
    overflow: hidden;
}

.line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;
    transition: color 0.2s linear;
}

.nav_item:hover {
    color: #D81D1D;
}

.cart {
    border-right: 1px solid #FFFFFF;
    padding-right: 10px;
    height: 50px;
    position: relative;
}

.cart_img {
    position: absolute;
    top: 18px;
    right: 7px;
    height: 20px;
}

.phone_number_link {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.2s linear;
}

.phone_number_link:hover {
    color: #D81D1D;
}

.phone_text {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

.phone_holder {
    display: flex;
    align-items: center;
}

.header_down {
    position: relative;
}

.title {
    position: absolute;
    left: 0;
    color: #D67E35;
    font-family: 'Tinos', serif;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    margin-top: 222px;
}

.subtitle {
    font-size: 80px;
}

.suptitle {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 18px;
}

.header_suptitle:before {
    position: absolute;
    content: '';
    height: 2px;
    background-color: #fff;
    width: 61px;
    top: 159px;
    left: 56px;
}

.header_suptitle:after {
    position: absolute;
    content: '';
    height: 2px;
    background-color: #fff;
    width: 61px;
    top: 159px;
    left: 363px;
}

.header_down_button {
    background-color: #FF7400;
    padding: 14px 28px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    transition: background-color 0.2s linear;
    cursor: pointer;
}

.header_down_button:hover {
    background-color: #894B17;
}

