body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}
.container {
    margin: 0 166px;
    position: relative;
}


@media (max-width: 828px) {
    .container {
        margin: 0;
    }
}