.image_loader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
    position: relative;
}
.image img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.file input {
    display: none;
}

.file label {
    position: absolute;
    bottom: 18px;
    right: 121px;
    background-color: #ff7400;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.5s;
}

.file label:hover {
    background-color: #894b17;
}

.file label i {
    font-size: 30px;
    color: white;
}

@media (max-width: 468px) {
    .file label {
        right: 80px;
    }
}

@media (max-height: 744px) {
    .image_loader {
        margin-top: -20px;
    }
}